<a href="https://colab.research.google.com/github/DiazJaja/Progralll-2024-Semi/blob/main/fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Juan Díaz"

print("Hola ", nombre, ", inicial: ", nombre[0], nombre[5])

Hola Mundo
Hola  Juan Díaz , inicial:  J D

Ejercicio: Crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

In [ ]:
print("Num 1")
num1 = int(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

Ejercicio: Crear un programa en python que sume dos numeros introducidos por el usuario

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Juan Díaz" #cadenas
print(nombre, nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Juan Díaz Juan Juan z Díaz
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

Ejercicio: Cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero:5
El numero es impar

Ejercicio: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))

resp = suma(num1, num2)
print("La suma es: ", resp)

Num 1: 5
Num 2: 9
La suma es:  14.0

Ejercicio: Convertir grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 33
F:  91.4

Ejercicio: Determina si un numero es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("EL numero ", num, " es: ", parImpar(num))

Num: 9
EL numero  9  es:  impar

**TAREA (MIERCOLES):**
1.   Convertir grados Farenheits a Celsius
2.   Convertir grados [Celsius y Farenheit] a kelvin.

Convertidor de grados Farenheits a Celsius.

In [ ]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0/9.0
    return celsius

grados_fahrenheit = float(input("Ingrese los grados Fahrenheit: "))
grados_celsius = fahrenheit_a_celsius(grados_fahrenheit)

print(str(grados_fahrenheit) + " grados Fahrenheit son " + str(round(grados_celsius, 2)) + " grados Celsius.")

Ingrese los grados Fahrenheit: 121
121.0 grados Fahrenheit son 49.44 grados Celsius.

Convertidor grados Celsius y Farenheit a kelvin.

In [ ]:
def celsius_a_kelvin(celsius):
    return celsius + 273.15

def fahrenheit_a_kelvin(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    return celsius + 273.15

tipo = input("¿Desea convertir de Celsius (C) o Fahrenheit (F) a Kelvin? Ingrese C o F: ").strip().upper()

if tipo == 'C':

    grados_celsius = float(input("Ingrese los grados Celsius: "))
    kelvin = celsius_a_kelvin(grados_celsius)

    print(str(grados_celsius) + " grados Celsius son " + str(round(kelvin, 2)) + " Kelvin.")

elif tipo == 'F':

    grados_fahrenheit = float(input("Ingrese los grados Fahrenheit: "))
    kelvin = fahrenheit_a_kelvin(grados_fahrenheit)

    print(str(grados_fahrenheit) + " grados Fahrenheit son " + str(round(kelvin, 2)) + " Kelvin.")

else:

    print("Opción no válida. Por favor ingrese C o F.")

¿Desea convertir de Celsius (C) o Fahrenheit (F) a Kelvin? Ingrese C o F: c
Ingrese los grados Celsius: 121
121.0 grados Celsius son 394.15 Kelvin.

Ejercicio: Calcular el sueldo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

Ejercicio: Elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  64

Usando funciones lambda.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 4
Cuadrado:  16

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos.

In [ ]:
serie = [5, 4, 3, 2, 6, 7]

resp = map(lambda x: x**0.5, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]

Ejercicios con funciones preconstruidas en python.:

* MAP.

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

* FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #obtener solo los numeros impares

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

* REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10, 1,5]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

**TUPLAS**

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6 ", numeros[2:6])
print(numeros.count(5))

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6  (7, 9, 5, 4)
2

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo","lunes","martes","miercoles","jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, " de ", meses[mes], " del ", year)

Fecha:  lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("Luis","Juan")
#tuplas[0] = "Pedro" #Las tuplas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Luis","Juan"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Luis', 'Juan')
['Pedro', 'Juan']

**LISTAS**

In [ ]:
listas = [5,8,7,9,"Luis", "Jonathan", "Ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Luis', 'Jonathan', 'Ramon'] Ramon

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 + 8*0.3=2.4
reduce(obtenerNota, matriz, 0)

7.5

In [ ]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 1
Num: 2: 2
Num: 3: 3
Num: 4: 4
Num: 5: 5
Num: 6: 6
Num: 7: 7
Num: 8: 8
Num: 9: 9
Num a buscar: 2
Serie:  [1, 2, 3, 4, 5, 6, 7, 8, 9] El numero  2 , se repite:  1

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

[6, 5, 4, 2, 2, 1, 1]

DICCIONARIOS - JSON

In [ ]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Luis Hernandez Programacion III {'lab1': 8, 'lab2': 9, 'parcial': 10}

ESTRUCTURA DE CONTROL IF: Ejercicio: solicitar al usuario la edad y determinar su clasificacion.

In [ ]:
edad = int(input("Edad: "))
if edad >= 17:
  print("Bienvenido al mundo de los adultos")

Edad: 20
Bienvenido al mundo de los adultos

In [ ]:
continuar = "S"
while continuar == "S":
  edad = int(input("Edad:"))

  if(edad<0): #evitar edades negativas
    print("Edad incorrecta")
  elif edad<=2:
    print("Eres un bebe")
  elif edad<=12:
     print("Eres un niño")
  elif edad<=18:
     print("Eres un adolescente")
  elif edad<=65:
    print("Eres un adulto")
  elif edad<=85:
    print("Eres un adulto mayor")
  else:
    print("Larga vida")
  continuar = input("Desea continuar? Presiona S para continuar, si otro boton para salir: ")

Edad:18
Eres un adolescente
Desea continuar? Presiona S para continuar, si otro boton para salir: d

Solicitar un numero y verificar si es positivo o negativo.

In [ ]:
num = int(input("Num: "))
if(num>0):
  print("El numero es positivo")
elif(num==0):
  print("El numero es cero")
else:
  print("El numero es negativo")

Num: 0
El numero es cero

Solicitar una tabla de multiplicar y generarla.

In [ ]:
continuar = "S"
while continuar == "S":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "x", i, "=", ntabla*i)
  continuar = input("Desea continuar? Presiona S para continuar, si otro boton para salir: ")

Tabla: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Desea continuar? Presiona S para continuar, si otro boton para salir: b

PROGRAMACION ORIENTADA A OBJETOS



*   CLASE

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2


*   OBJETOS

In [ ]:
#instanciar la clase Calculadora, para crear el objeto a partir de la clase.
objCalculadora = Calculadora()
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
print("Suma: ", objCalculadora.sumar(num1, num2))

**EJERCICIO** Escriba un programa que lea una serie de numeros introducidos por el usuario, y determine la media aritmetica.

In [ ]:
from math import sqrt

class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += num
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (num-media)**2
    return sqrt(suma/len(serie))

In [ ]:
n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )

Ejercicios evaluados: calcular sobre el suelo las deducciones por la ley ISSS (3%), AFP(6.25%), ISR(Segun tabla) e imprima el total deducciones y sueldo neto. (20%)

In [ ]:
def calcular_deducciones_y_sueldo_neto(sueldo_bruto):
    # Deducciones
    isss = sueldo_bruto * 0.03
    afp = sueldo_bruto * 0.0625

    if sueldo_bruto <= 472.00:
        isr = 0.0
    elif sueldo_bruto <= 895.24:
        isr = (sueldo_bruto - 472.00) * 0.10 + 17.67
    elif sueldo_bruto <= 2038.10:
        isr = (sueldo_bruto - 895.24) * 0.20 + 60.00
    else:
        isr = (sueldo_bruto - 2038.10) * 0.30 + 288.57

    total_deducciones = isss + afp + isr

    sueldo_neto = sueldo_bruto - total_deducciones

    return isss, afp, isr, total_deducciones, sueldo_neto

def imprimir_resultados(sueldo_bruto, opcion):
    isss, afp, isr, total_deducciones, sueldo_neto = calcular_deducciones_y_sueldo_neto(sueldo_bruto)

    if opcion == "1":
        print(f"Total Deducciones: ${total_deducciones:.2f}")
    elif opcion == "2":
        print(f"Sueldo Neto: ${sueldo_neto:.2f}")
    elif opcion == "3":
        print(f"Sueldo Bruto: ${sueldo_bruto:.2f}")
        print(f"ISSS (3%): ${isss:.2f}")
        print(f"AFP (6.25%): ${afp:.2f}")
        print(f"ISR: ${isr:.2f}")
        print(f"Total Deducciones: ${total_deducciones:.2f}")
        print(f"Sueldo Neto: ${sueldo_neto:.2f}")
    else:
        print("Opción no válida.")

try:
    sueldo_bruto = float(input("Ingrese su sueldo bruto: $"))

    print("\nElija el tipo de resultado que desea ver:")
    print("1. Solo Total Deducciones")
    print("2. Solo Sueldo Neto")
    print("3. Ambos")

    opcion = input("Ingrese el número de la opción que desea: ")

    imprimir_resultados(sueldo_bruto, opcion)

except ValueError:
    print("Por favor, ingrese un valor numérico válido.")

Ingrese su sueldo bruto: $800

Elija el tipo de resultado que desea ver:
1. Solo Total Deducciones
2. Solo Sueldo Neto
3. Ambos
Ingrese el número de la opción que desea: 3
Sueldo Bruto: $800.00
ISSS (3%): $24.00
AFP (6.25%): $50.00
ISR: $50.47
Total Deducciones: $124.47
Sueldo Neto: $675.53

Calcular el valor a pagar segun el numero de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva).

In [ ]:
def calcular_valor_a_pagar(consumo):

    cuota_fija = 6.00

    if consumo <= 18:
        valor_a_pagar = cuota_fija
    elif consumo <= 28:
        exceso = consumo - 18
        valor_a_pagar = cuota_fija + (exceso * 0.45)
    else:
        exceso_1 = 28 - 18
        exceso_2 = consumo - 28
        valor_a_pagar = cuota_fija + (exceso_1 * 0.45) + (exceso_2 * 0.65)

    return valor_a_pagar

try:
    consumo = int(input("Ingrese el consumo de agua en metros cúbicos: "))

    valor_a_pagar = calcular_valor_a_pagar(consumo)

    print(f"Valor a pagar por {consumo} metros cúbicos consumidos: ${valor_a_pagar:.2f}")

except ValueError:
    print("Por favor, ingrese un valor numérico válido.")

Ingrese el consumo de agua en metros cúbicos: 30
Valor a pagar por 30 metros cúbicos consumidos: $11.80

Desarrolla la tabla de meses acumulados a n meses. Si puede encontrar la formula matematica para evitar ciclos. (10%)

In [ ]:
def acumulacion_mes(n):
    return n * (n + 1) // 2

try:
    mes = int(input("Ingrese el número del mes que desea consultar: "))

    acumulacion = acumulacion_mes(mes)
    print(f"\nMES: {mes}\nACUMULACIÓN: {acumulacion}")

except ValueError:
    print("Por favor, ingrese un valor numérico válido.")

Ingrese el número del mes que desea consultar: 2

MES: 2
ACUMULACIÓN: 3

Conversores: (40%) (10 item como minimo por cada uno)

*   Moneda
*   Longitud
*   Masa
*   Almacenamiento
*   Tiempo
*   Volumen
*   Area

In [ ]:
def convertir_longitud(valor, desde, hacia):
    conversiones = {
        'metros': 1,
        'kilometros': 0.001,
        'centimetros': 100,
        'milimetros': 1000,
        'millas': 0.000621371,
        'yardas': 1.09361,
        'pies': 3.28084,
        'pulgadas': 39.3701,
        'nanometros': 1e9,
        'micrometros': 1e6
    }
    return valor * conversiones[hacia] / conversiones[desde]

def convertir_masa(valor, desde, hacia):
    conversiones = {
        'gramos': 1,
        'kilogramos': 0.001,
        'miligramos': 1000,
        'toneladas': 1e-6,
        'libras': 0.00220462,
        'onzas': 0.035274,
        'microgramos': 1e6,
        'nanogramos': 1e9,
        'stone': 0.000157473,
        'quilates': 5
    }
    return valor * conversiones[hacia] / conversiones[desde]

def convertir_almacenamiento(valor, desde, hacia):
    conversiones = {
        'bytes': 1,
        'kilobytes': 1 / 1024,
        'megabytes': 1 / (1024 ** 2),
        'gigabytes': 1 / (1024 ** 3),
        'terabytes': 1 / (1024 ** 4),
        'petabytes': 1 / (1024 ** 5),
        'bits': 8,
        'kilobits': 8 / 1024,
        'megabits': 8 / (1024 ** 2),
        'gigabits': 8 / (1024 ** 3)
    }
    return valor * conversiones[hacia] / conversiones[desde]

def convertir_tiempo(valor, desde, hacia):
    conversiones = {
        'segundos': 1,
        'minutos': 1 / 60,
        'horas': 1 / 3600,
        'dias': 1 / 86400,
        'semanas': 1 / 604800,
        'meses': 1 / (30.44 * 86400),
        'años': 1 / (365.25 * 86400),
        'milisegundos': 1000,
        'microsegundos': 1e6,
        'nanosegundos': 1e9
    }
    return valor * conversiones[hacia] / conversiones[desde]

def convertir_volumen(valor, desde, hacia):
    conversiones = {
        'litros': 1,
        'mililitros': 1000,
        'centimetros_cubicos': 1000,
        'metros_cubicos': 0.001,
        'galones': 0.264172,
        'pintas': 2.11338,
        'onzas_fluidas': 33.814,
        'barriles': 0.00628981,
        'cups': 4.22675,
        'cuartos': 1.05669
    }
    return valor * conversiones[hacia] / conversiones[desde]

def convertir_area(valor, desde, hacia):
    conversiones = {
        'metros_cuadrados': 1,
        'kilometros_cuadrados': 1e-6,
        'centimetros_cuadrados': 10000,
        'milimetros_cuadrados': 1e6,
        'hectareas': 1e-4,
        'acres': 0.000247105,
        'pies_cuadrados': 10.7639,
        'yardas_cuadradas': 1.19599,
        'pulgadas_cuadradas': 1550.0031,
        'millas_cuadradas': 3.861e-7
    }
    return valor * conversiones[hacia] / conversiones[desde]

def menu():
    print("\nSeleccione el tipo de conversión que desea realizar:")
    print("1. Longitud")
    print("2. Masa")
    print("3. Almacenamiento")
    print("4. Tiempo")
    print("5. Volumen")
    print("6. Área")

    return input("\nIngrese el número de la opción elegida: ")

def seleccionar_unidades(tipo):
    if tipo == "1":
        print("\nSeleccione la unidad de origen y destino:")
        unidades = ['metros', 'kilometros', 'centimetros', 'milimetros', 'millas', 'yardas', 'pies', 'pulgadas', 'nanometros', 'micrometros']
    elif tipo == "2":
        unidades = ['gramos', 'kilogramos', 'miligramos', 'toneladas', 'libras', 'onzas', 'microgramos', 'nanogramos', 'stone', 'quilates']
    elif tipo == "3":
        unidades = ['bytes', 'kilobytes', 'megabytes', 'gigabytes', 'terabytes', 'petabytes', 'bits', 'kilobits', 'megabits', 'gigabits']
    elif tipo == "4":
        unidades = ['segundos', 'minutos', 'horas', 'dias', 'semanas', 'meses', 'años', 'milisegundos', 'microsegundos', 'nanosegundos']
    elif tipo == "5":
        unidades = ['litros', 'mililitros', 'centimetros_cubicos', 'metros_cubicos', 'galones', 'pintas', 'onzas_fluidas', 'barriles', 'cups', 'cuartos']
    elif tipo == "6":
        unidades = ['metros_cuadrados', 'kilometros_cuadrados', 'centimetros_cuadrados', 'milimetros_cuadrados', 'hectareas', 'acres', 'pies_cuadrados', 'yardas_cuadradas', 'pulgadas_cuadradas', 'millas_cuadradas']
    else:
        unidades = []

    for i, unidad in enumerate(unidades):
        print(f"{i + 1}. {unidad}")

    desde = int(input("\nSeleccione la unidad de origen: ")) - 1
    hacia = int(input("Seleccione la unidad de destino: ")) - 1

    return unidades[desde], unidades[hacia]

try:
    tipo_conversion = menu()
    unidad_origen, unidad_destino = seleccionar_unidades(tipo_conversion)
    valor = float(input("\nIngrese el valor a convertir: "))

    if tipo_conversion == "1":
        resultado = convertir_longitud(valor, unidad_origen, unidad_destino)
    elif tipo_conversion == "2":
        resultado = convertir_masa(valor, unidad_origen, unidad_destino)
    elif tipo_conversion == "3":
        resultado = convertir_almacenamiento(valor, unidad_origen, unidad_destino)
    elif tipo_conversion == "4":
        resultado = convertir_tiempo(valor, unidad_origen, unidad_destino)
    elif tipo_conversion == "5":
        resultado = convertir_volumen(valor, unidad_origen, unidad_destino)
    elif tipo_conversion == "6":
        resultado = convertir_area(valor, unidad_origen, unidad_destino)
    else:
        print("Tipo de conversión no válido.")
        resultado = None

    if resultado is not None:
        print(f"\n{valor} {unidad_origen} son equivalentes a {resultado:.6f} {unidad_destino}")

except ValueError:
    print("Por favor, ingrese valores numéricos válidos.")

Seleccione el tipo de conversión que desea realizar:
1. Longitud
2. Masa
3. Almacenamiento
4. Tiempo
5. Volumen
6. Área

Realizar un conversor propio, donde especifiqué el valor de conversión: (10%)



*   1 caja -> 25 unidad. Viceversa 80 unidades - 3/5 -> cajas/unidades
*   1 saco -> 50 libras. Viceversa 130 libras - 2/30 -> sacos/libras
*   1 fardo -> 5 unidades. Viceversa 28 unidades - 5/3 -> fardos/unidades

In [ ]:
def convertir_cajas_unidades(unidades):
    cajas = unidades // 25
    sobrante = unidades % 25
    return cajas, sobrante

def convertir_unidades_cajas(cajas):
    return cajas * 25

def convertir_sacos_libras(libras):
    sacos = libras // 50
    sobrante = libras % 50
    return sacos, sobrante

def convertir_libras_sacos(sacos):
    return sacos * 50

def convertir_fardos_unidades(unidades):
    fardos = unidades // 5
    sobrante = unidades % 5
    return fardos, sobrante

def convertir_unidades_fardos(fardos):
    return fardos * 5

In [ ]:
def mostrar_menu():
    print("Selecciona la conversión que deseas realizar:")
    print("1. Unidades a Cajas")
    print("2. Cajas a Unidades")
    print("3. Libras a Sacos")
    print("4. Sacos a Libras")
    print("5. Unidades a Fardos")
    print("6. Fardos a Unidades")

    opcion = int(input("Introduce el número de la conversión que deseas realizar: "))
    return opcion

def realizar_conversion(opcion):
    if opcion == 1:
        unidades = int(input("Introduce el número de unidades: "))
        cajas, sobrante = convertir_cajas_unidades(unidades)
        print(f"{unidades} unidades son equivalentes a {cajas} cajas y {sobrante} unidades.")

    elif opcion == 2:
        cajas = int(input("Introduce el número de cajas: "))
        unidades = convertir_unidades_cajas(cajas)
        print(f"{cajas} cajas son equivalentes a {unidades} unidades.")

    elif opcion == 3:
        libras = int(input("Introduce el número de libras: "))
        sacos, sobrante = convertir_sacos_libras(libras)
        print(f"{libras} libras son equivalentes a {sacos} sacos y {sobrante} libras.")

    elif opcion == 4:
        sacos = int(input("Introduce el número de sacos: "))
        libras = convertir_libras_sacos(sacos)
        print(f"{sacos} sacos son equivalentes a {libras} libras.")

    elif opcion == 5:
        unidades = int(input("Introduce el número de unidades: "))
        fardos, sobrante = convertir_fardos_unidades(unidades)
        print(f"{unidades} unidades son equivalentes a {fardos} fardos y {sobrante} unidades.")

    elif opcion == 6:
        fardos = int(input("Introduce el número de fardos: "))
        unidades = convertir_unidades_fardos(fardos)
        print(f"{fardos} fardos son equivalentes a {unidades} unidades.")

    else:
        print("Opción no válida.")
        return

opcion = mostrar_menu()
realizar_conversion(opcion)

Selecciona la conversión que deseas realizar:
1. Unidades a Cajas
2. Cajas a Unidades
3. Libras a Sacos
4. Sacos a Libras
5. Unidades a Fardos
6. Fardos a Unidades
Introduce el número de la conversión que deseas realizar: 1
Introduce el número de unidades: 125
125 unidades son equivalentes a 5 cajas y 0 unidades.

TAREA:

*   Encontrar de una serie de numeros introducidos por el usuario la varianza
*   Encontrar de una serie de numeros introducidos por el usuario la frecuencuia
*   Escriba un programa que determine si una palabra introducida por el usuario es palindrome. Ejem. Ana, Oso, Oro, Reconocer, etc.

Encontrar de una serie de numeros introducidos por el usuario la varianza

In [ ]:
from math import sqrt

class estadistica:
    def media(self, serie):
        suma = 0
        for num in serie:
            suma += num
        return suma / len(serie)

    def tipica(self, serie):
        media = self.media(serie)
        suma = 0
        for num in serie:
            suma += (num - media) ** 2
        return sqrt(suma / len(serie))

    def varianza(self, serie):
        media = self.media(serie)
        suma = 0
        for num in serie:
            suma += (num - media) ** 2
        return suma / len(serie)

n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1, n + 1):
    serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))
print("La desviacion tipica es: ", round(objEstadistica.tipica(serie), 3))
print("La varianza es: ", round(objEstadistica.varianza(serie), 3))

Cuantos numeros va a ingresar: 1
Num: 1
La media es:  1.0
La desviacion tipica es:  0.0
La varianza es:  0.0

Encontrar de una serie de numeros introducidos por el usuario la frecuencuia

In [ ]:
from collections import Counter

def calcular_frecuencias():
    numeros = input("Ingrese una serie de números separados por espacios: ").split()
    numeros = [int(n) for n in numeros]

    frecuencias_absolutas = Counter(numeros)

    total_elementos = len(numeros)
    frecuencias_relativas = {num: freq / total_elementos for num, freq in frecuencias_absolutas.items()}

    print("\nFrecuencia absoluta:")
    for num, freq in frecuencias_absolutas.items():
        print(f"{num}: {freq} veces")

    print("\nFrecuencia relativa:")
    for num, freq in frecuencias_relativas.items():
        print(f"{num}: {freq:.2f}")

# Ejecutar la función
calcular_frecuencias()

Ingrese una serie de números separados por espacios: 1 2 3 4 5

Frecuencia absoluta:
1: 1 veces
2: 1 veces
3: 1 veces
4: 1 veces
5: 1 veces

Frecuencia relativa:
1: 0.20
2: 0.20
3: 0.20
4: 0.20
5: 0.20

Escriba un programa que determine si una palabra introducida por el usuario es palindrome. Ejem. Ana, Oso, Oro, Reconocer, etc.

In [ ]:
Palindromo= input("ingrese la palabra : ")
if Palindromo == Palindromo[::-1]:
 print("Es palindromo")
else:
 print("No es palindromo")

ingrese la palabra : goku
No es palindromo